<div class="p-4" id="pageContent">
      
    <div class="container">
      <div class="row">
        
        <div class="col-sm-4 col-md-5 col-lg-4">
           
          <div class="formContainer" id="formbody">
           
            <h2 class="p-2 text-center mb-4 h4" id="formHeading">Please Enter your username to reset your password!!</h2><br><br>
            <span style="color: red;font-size: 18px;font-weight: bold;">
                {{message}}
                </span><br><br>
            <form action="#">
              <div class="form-group mt-3">
                <label style="font-size: 18px;">Username</label>
                <input class="form-control" id="name" [(ngModel)]="auth.name" name="name" type="text" placeholder="name"/>
              </div>
            
              
              <br>
              <button type="button" class="btn btn-danger btn-lg w-100 mt-4" (click)="passwordReset();">Reset</button>&nbsp;&nbsp;
              
              
              
            </form>
          </div>  
        </div>   
      </div>

    </div>
    

