
<div class="p-4" id="pageContent">
      
    <div class="container">
      <div class="row">
        
        <div class="col-sm-4 col-md-5 col-lg-4">
           
          <div class="formContainer" id="formbody">
           
            <h2 class="p-2 text-center mb-4 h4" id="formHeading">Please Enter New Password!!</h2><br><br>
                        <div *ngIf="alert" class="alert alert-success" role="alert">
               
                <strong>Success !</strong> Your password has been changed successfully!! <br>
                Loading Home page.......
                <button (click)="closeAlert();" type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
                </button><br>
                
             </div>
            <form action="#">
             
              <div class="form-group mt-3">
               
                <div class="form-group mt-3">
                    <label style="font-size: 18px;">Username</label>
                    <input class="form-control" id="name" [(ngModel)]="auth.name" name="name" type="text" placeholder="name"/>
                  </div>

                <label style="font-size: 18px;">New Password</label>
                <input type="password" [(ngModel)]="auth.password" class="form-control" name="password"  placeholder="password" />
              </div>
            
              <button class="btn btn-primary btn-lg w-100 mt-4" (click)="resetPassword();">Signup</button>&nbsp;&nbsp;
             
            </form>
          </div>  
        </div>   
      </div>

    </div>
    
